doctype html
html
  head
    meta(charset='utf-8')
    title Ejercicio ES6
    script(src='dist\js\es6.js')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='C:\Users\ADMIN\projects\ES6\dist\style.css')
  body.body
    .container-fluid
      h1 Actividad ES6
      .row
        .col-sm-4 Juan
        .col-sm-4 Sebastian
        .col-sm-4 Ocampo
    .row
      .table
        label(for='butons') Type
        input(type='button', name='ES6', value='ES6', onclick='alertjs()')
        table.table
    script(type='text/javascript').
      alert
